.logo{
  width: 50px;
  height: 50px;
  align-items: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background: #EDECEC;
}

.image , .liste {
  display: flex;
  width: 25%;
}

.liste  {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  
}

a{
  text-decoration: none;
}

.titre{
  margin-top: 2rem;
  color: red;
  text-align: center;
}

#conteiner{
  display: flex;
  justify-content: space-around;
}


.block1 , .block2 , .block3{
  display: flex;
  align-items: center;
  text-align: center;
  width: 32vw;
  height: 26vh;
  border: 2px solid #ff0000;
}

.footer{
  display: flex;
  justify-content: center;
  text-align: center;
  background: #626060 ;
  color: white;
  box-shadow: 25%;
}

form{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 30%;
  
}

.int{
  width: 500px;
  height: 45px;
  border-radius: 5px;
  font-size: 22px;
}

label{
  text-align: left;
}

textarea{
  width: 500px;
  height: 100px;
  font-size: 18px;
}

button{
  margin-left: 3rem;
  margin-top: 0.5rem;
  width: 10rem;
  padding: 1rem;
  border: transparent;
  border-radius: 2rem;
  background: black ;
  color: white;

}
button:hover{
  background: red;
  color: white;
  cursor: pointer;

}