@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


body
{
  font-family: 'Rajdhani', sans-serif;
}

.logo{
  width: 50px;
  height: 50px;
  align-items: center;
}
#menu__toggle {
  opacity: 0;
  margin-right: 2rem;
  z-index: 999;
  
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  z-index: 999;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  position: fixed;
  background-color: black;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  
  width: 2rem;
  height: 5vh;
  margin-left: 2rem;
  cursor: pointer;
  z-index: 999;
}


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: relative;

  width: 100%;
  height: 0.5vh;
  

  background-color:#B53636;
  
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: relative;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;
  
  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: beige;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
  z-index: 9;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: red;
}

.BurgerLogo
{
  display: flex;
  
}
.logo
{
  width: 13vh;
  height: 13vh;
  position: absolute;
  margin-left: -5rem;
  
}

.nav
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  
  padding: 1rem;
  
 
}
nav a
{
  text-decoration: none;
  margin-right: 1rem;
  color : black;
  font-size:larger;
}
nav a:hover
{
  text-decoration: overline red 3px solid;
}
nav a :visited
{
  color : red;
  
}
.barnav
{
  display: flex;
  justify-content: space-between;
  background-color: #EDECEC;
  height: 11vh;
  position: relative;
}
.navbar{
  display: flex;
  justify-content: space-around;
  background: #EDECEC;
}

/* Accueil */
#bloc1
{
  display: flex;
  justify-content: space-between;
  height: 50vh;
  margin: 5rem;
  position: relative;
 

}
.sousbloc1
{
  background-color: whitesmoke;
  color: #9B3E3E;
  height: 40vh;
  width: 23vw;
  position: relative;
  border: 2px #9B3E3E solid;
 
  
}
.sousbloc1:hover
{
  background-color: #626060;
  position: relative;
  border: 2px red solid;
  color: white;
}

.content3bloc
{
  
  margin: 7rem;
  text-align: center;
}

.image , .liste {
  display: flex;
  width: 25%;
}

.liste  {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  
}

a{
  text-decoration: none;
}

.titre{
  margin-top: 2rem;
  color: #B53636;
  text-align: center;
}

#conteiner{
  display: flex;
  justify-content: space-around;
}


.block1 , .block2 , .block3{
  display: flex;
  align-items: center;
  text-align: center;
  width: 32vw;
  height: 26vh;
  border: 2px solid #ff0000;
}

.footer{
  display: flex;
  justify-content: center;
  text-align: center;
  background: #626060 ;
  color: white;
  box-shadow: 25%;
}

form{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 30%;
  
}

.int{
  width: 500px;
  height: 45px;
  border-radius: 5px;
  font-size: 22px;
}

label{
  text-align: left;
}

textarea{
  width: 500px;
  height: 100px;
  font-size: 18px;
}

button{
  margin-left: 3rem;
  margin-top: 0.5rem;
  width: 10rem;
  padding: 1rem;
  border: transparent;
  border-radius: 2rem;
  background: black ;
  color: white;

}
button:hover{
  background: red;
  color: white;
  cursor: pointer;

}

.recherche {
  width: 25%;
  height: 50%;
  border-radius: 45px;
}

.Block{
  display: grid;
  grid-template-columns: repeat(4,2fr);
  gap: 40px;
  margin: 4vh ;

  
}

.Block2{
  display: flex;
  flex-direction: column;
  border: solid 1px ;
  padding: 20px;
  border-radius: 8px;
  overflow-y: scroll;
  height: 50vh;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
  background: linear-gradient(45deg,red,#252525);
  color: white;
}
/* Global */
.Block2::-webkit-scrollbar {
  width: 8px;
}
/* Ascenseur */
.Block2::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 8px;
}


.image2{
  width: 100%;
}

.searchbar{
  display: flex;
  margin-top: 4vh;
  margin-left: 50vw;
  height: 50px;
}